**/AMManager.url
**/Evidencia_respaldosdiarios.lnk
**/GLPI Basetek.url
**/GLPI Central Servicing.url
**/GLPI MUEVE.url
**/GitHub Desktop.lnk
**/MV-Servidor_Nagios.lnk
**/NAGIOS.url
**/Nmap - Zenmap GUI.lnk
**/Office 365.url
**/Person 1 - Chrome.lnk
**/Radioactiva.url
**/Remote Desktop Manager.lnk
**/Remote Desktop Manager/
**/SIXMANAGER.url
**/Urls.txt
**/Carpeta de Respaldos.lnk
**/Ejemplo Github/
**/desktop.ini

